* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
label {
    font-size: 1.1em;
    font-family: 'Josefin Sans', sans-serif;
}

/* Sección "sobre nosotros" */

.container__about {
    margin-top: 70px;
    animation: opacidad;
    animation-duration: 1s;
}

.container__about>h1 {
    padding: 30px;
    text-align: center;
}

.about-flexbox {
    height: 625px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about {
    width: 500px;
}

.about-flexbox img {
    width: 400px;
    height: auto;
}

@keyframes opacidad {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}


/* Caja de formulario */

.container__form {
    display: flex;
    height: 730px;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.container__form .form {
    width: 700px;
    height: 600px;
    color: white;
}

.form .form-title {
    text-align: center;
    padding: 60px;
}

.form .inputs {
    display: flex;
    height: auto;
    justify-content: center;
    width: 100%;
}

.form .inputs .name,
.email,
.mensaje {
    background-color: black;
    margin-top: 60px;
    padding-bottom: 7px;
    padding-left: 5px;
    border: none;
    outline: none;
    font-size: 1.2em;
    border-bottom: 1.5px solid #950101;
}

.form .inputs .mensaje {
    border: 1px solid #950101;
}

.form .inputs .email {
    margin-left: 50px;
}

.form .inputs .mensaje {
    margin-top: 150px;
}

.form .inputs .name,
.mensaje {
    margin-right: 50px;
}

.form .radio {
    display: inline-block;
    text-align: center;
    padding: 25px;
    color: rgba(255, 255, 255, 0.586);
}

.form .inputs input[type="text"],
input[type="email"],
textarea {
    color: white;
}

.submit {
    margin-left: 100px;
}

.reset {
    margin-left: 10px;
}

.button {
    margin-top: 25px;
}

.button {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.81);
    padding: 0.7em 2em;
    border: 3px solid #950101;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px #950101, 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #950101;
    text-decoration: none;
    transition: 0.3s ease all;
}

.button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    background-color: #950101;
    z-index: -1;
}

.button:hover,
.button:focus {
    color: white;
    background-color: #950101;
    cursor: pointer;
}

.button:hover:before,
.button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.button:active {
    transform: scale(0.9);
}

/* Caja de contacto */

.container__form .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;
    color: white;
}

.contact .contact-title {
    padding: 30px;
    margin-top: 20px;
}

.contact .contact-title h1 {
    display: inline;
}

.contact .contact-info {
    width: 60%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.contact .contact-info p {
    display: inline;
    margin-top: 15px;

}


@media (max-width: 768px) {
    .about-flexbox {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .about {
        width: 90%;
    }

    .about-flexbox img {
        width: 80%;
        margin-top: 30px;
        padding-bottom: 20%;
    }

    .container__form {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .container__form .form {
        width: 90%;
        height: auto;
    }

    .form .inputs {
        flex-direction: column;
        align-items: center;
    }

    .form .inputs .name,
    .email,
    .mensaje {
        width: 100%;
        margin: 20px 0;
    }

    .form .inputs .email {
        margin-left: 0;
    }

    .form .inputs .mensaje {
        margin-top: 50px;
    }

    .form .inputs .name,
    .mensaje {
        margin-right: 0;
    }

    .form .radio{
        margin-left: 60px;
    }

    .form .reset{
        margin-left: 70px;
    }

    .contact {
        width: 90%;
        margin-top: 30px;
    }

    .contact .contact-info {
        width: 100%;
        margin-top: 30px;
        margin-left: 270px;
    }
}