*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

.galeria{
    margin-top: 70px;
    animation: opacidad;
    animation-duration: 1s;
}

@keyframes opacidad {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

img{
    width: 100%;
}

.row{
    display: flex;
    padding: 3px;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    padding: 3px;
}

.column img{
    margin-top: 3px; 
}

@media (max-width: 600px){
    .column{
        flex: 100%; 
    }
}