@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&family=Poppins:wght@500&family=Roboto+Slab&family=Rubik:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

p,
article,
li {
    font-size: 1.1em;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 2.5em;
    font-family: 'Roboto Slab', sans-serif;
}

h2 {
    font-size: 2em;
    font-family: 'Roboto Slab', sans-serif;
}

.cities-flexbox p {
    font-family: 'Roboto Slab', sans-serif;
}

/* Header y menú en la nav bar */

header {
    background-color: black;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}

header .logo:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    border-bottom: 2px solid #950101;
    cursor: pointer;
}

header a {
    text-decoration: none;
    color: white;
}


/* Estilos de la lista en el header */

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
}

nav .list li a {
    padding: 10px 15px;
    display: block;

}

nav .list>li {
    float: left;
}

nav .list li a:hover {
    border-bottom: 2px solid #950101;
    cursor: pointer;
}

nav .sublist {
    display: none;
    background-color: black;
    position: absolute;
}

nav .list li:hover>.sublist {
    display: block;
}



/* Estilos de la sección ciudades */

.container__cities {
    background-color: black;
    margin-top: 70px;
    padding: 50px;
    display: flex;
    justify-content: center;
}




/* MADRID */
.cities-flexbox img+.madrid {
    color: white;
    text-shadow: 4px 4px 8px #333;
    position: absolute;
    font-size: 3.5rem;
    top: 390px;
    right: 510px;
    transform: translateX(-50%) rotate(-90deg);
    transform-origin: center center;
    transition: transform 0.5s ease;
}

.cities-flexbox img:hover+.madrid {
    transform: translateX(10%) rotate(-90deg);


}

/* BARCELONA 
.cities-flexbox img+.barcelona {
    color: white;
    text-shadow: 4px 4px 8px #333;
    position: absolute;
    font-size: 4rem;
    top: 330px;
    right: 270px;
    transform: translateX(-50%) rotate(-90deg);
    transform-origin: center center;
    transition: transform 0.5s ease;
}

.cities-flexbox img:hover > .barcelona {
    transform: translateX(10%) rotate(-90deg);
    /* Movemos y rotamos el texto al hacer hover

} */

.cities-flexbox {
    display: flex;
    width: 800px;
    height: 530px;
    position: relative;
    overflow: hidden;
    /*PREGUNTAR AL CHAT PARA QUE SIRVE*/
}

.cities-flexbox img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.5s;
}

.cities-flexbox img:hover {
    cursor: pointer;
    width: 150px;
    opacity: 1;
    filter: contrast(100%);
}


/* Sección artista del mes */
.container__monthly-artist {

    padding-bottom: 100px;
}

.container__monthly-artist h1 {
    border-bottom: 2px solid #9B0000;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    padding: 40px;
    padding-bottom: 20px;
    font-size: 4em;
}

/* Cajas flexbox para organizar el contenido de las fotos y su descripción */
.artist-flexbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px;
    margin-top: 100px;
}

.artist-flexbox .artist {
    display: flex;
    width: 400px;
    height: 600px;
    margin-bottom: 100px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    object-fit: cover;
    transition: 0.5s;

}

.artist-flexbox .artist:hover {
    cursor: crosshair;
    margin: 10px;

}

.artist-flexbox p {
    margin: 0;
    display: block;
    margin: 20px;
    text-align: justify;
    font-size: 1.1em;
}

.artist-flexbox h2 {
    text-align: center;
}

.artist-flexbox img {
    margin: 10px;
}

.horizontal {

    width: auto;
    height: 270px;
}

.vertical {
    width: auto;
    height: 370px;
}

.artist-flexbox .horizontal {
    margin-bottom: 70px;
}


/* Estilos del footer */

.container__footer {
    background-color: black;
    padding: 100px;
    color: white;
    text-align: center;
}

@media (max-width: 760px) {

    .container__cities{
        
    }
    
    /* Sección artista del mes */
    .container__monthly-artist h1 {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 2.5em;
        padding: 20px;
        text-align: center;
    }
}